*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-color: rgb(24, 4, 4);
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin-inline: 1rem;

}

h1 {

  margin-bottom: 3rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: min(7vw, 8rem);
  color: #4ECCA3;
}

p {
  font-size: max(4vw, 2rem);
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 100%;
  max-width: 170px;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
